{% extends 'account/base.html' %}
{% block content %}


<div class="row text-dark mb-2">
    <div class="col">
        <div>({{student.applicant.course.code}}) {{student.applicant.course.name}}</div>
        <div>Batch: {{student.applicant.batch.batch_no}}</div>
        <div>Session : {{student.applicant.batch.session}}</div>
        <div>
            <a href="{% url 'confirm_expel_student' student.id %}" class="text-danger">Expel this student</a>
        </div>
    </div>
    <div class="col text-right">
        <div class="text-center d-inline-block">
            {% if student.applicant.image %}
            <img src='{{student.applicant.image.url}}' alt="Student Image" width=180 class="img-thumbnail">
            <br>
            {% endif %}
            <a href="{% url 'change_applicant_image' student.applicant.id %}" class="text-info"><i
                    class="fas fa-edit"></i> Change Image</a>
        </div>
    </div>
</div>

<h5 class="font-Bahnschrift">
    Academic Information
    <a href="{% url 'edit_student_academic_info' student.id %}" class="text-dark ml-2">
        <i class="fas fa-edit fa-sm"></i>
    </a>
</h5>
<table class="table table-sm table-bordered text-dark fixed-layout table-responsive-sm">
    <tr>
        <td>Identity</td>
        <td>{{student.identity}}</td>
        <td>Class Roll</td>
        <td>{{student.class_roll}}</td>
    </tr>
    <tr>
        <td>Semester admitted</td>
        <td>{{student.semester}}</td>
        <td>Current Semester</td>
        <td></td>
    </tr>
    <tr>
        <td>Board Roll</td>
        <td>{{student.roll}}</td>
        <td>Registration</td>
        <td>{{student.registration}}</td>
    </tr>
</table>

<h5 class="font-Bahnschrift">
    Personal Information
    <a href="{% url 'edit_applicant' student.applicant.id %}" class="text-dark ml-2">
        <i class="fas fa-edit fa-sm"></i>
    </a>
</h5>
<table class="table table-sm table-bordered text-dark fixed-layout table-responsive-sm">
    <tr>
        <td>Student Name</td>
        <td>{{student.applicant.name}}</td>
        <td>Student's Phone</td>
        <td>{{student.applicant.phone}}</td>
    </tr>
    <tr>
        <td scope="row">Date of birth</td>
        <td>{{student.applicant.date_of_birth}}</td>
        <td>Gurdian's Phone</td>
        <td>{{student.applicant.gurdian_phone}}</td>
    </tr>
    <tr>
        <td scope="row">Father's Name</td>
        <td>{{student.applicant.father_name}}</td>
        <td scope="row">Nationality</td>
        <td>{{student.applicant.nationality}}</td>
    </tr>
    <tr>
        <td scope="row">Mother's Name</td>
        <td>{{student.applicant.mother_name}}</td>
        <td scope="row">Religion</td>
        <td>{{student.applicant.religion}}</td>
    </tr>
    <tr>
        <td scope="row">Gender</td>
        <td>{{student.applicant.gender}}</td>
        <td>Blood Group</td>
        <td>{{student.applicant.blood_group}}</td>
    </tr>
    <tr>
        <td scope="row">Present Address</td>
        <td colspan="3">{{student.applicant.present_address}}</td>
    </tr>
    <tr>
        <td scope="row">Permanent Address</td>
        <td colspan="3">{{student.applicant.permanent_address}}</td>
    </tr>
</table>

<h5 class="font-Bahnschrift">Educational Backgorund (SSC or equivalent)</h5>
<table class="table table-sm table-bordered text-dark fixed-layout table-responsive-sm">
    <tr>
        <td scope="row">Board</td>
        <td>{{student.applicant.ssc_board}}</td>
        <td scope="row">Year</td>
        <td>{{student.applicant.ssc_year}}</td>
    </tr>
    <tr>
        <td scope="row">Roll</td>
        <td>{{student.applicant.ssc_roll}}</td>
        <td scope="row">Registration</td>
        <td>{{student.applicant.ssc_reg}}</td>
    </tr>
    <tr>
        <td scope="row">Group</td>
        <td>{{student.applicant.ssc_group}}</td>
        <td scope="row">GPA/CGPA</td>
        <td>{{student.applicant.ssc_gpa}}</td>
    </tr>
</table>


{% endblock %}