{% extends 'root/base.html' %}
{% block main %}
<div class="text-center mb-3">
    <a href="{% url 'applicant-profile' %}" class="float-left text-info">
        <i class="fas fa-lg fa-arrow-circle-left"></i>
    </a>
    <h4 class="d-inline font-Bahnschrift bg-info rounded p-2 text-light shadow">Admssion Form</h4>
</div>

{% include 'root/messages.html' %}

<div class="text-center">
    <div class="bar-num bg-light text-info font-weight-bold shadow-sm">1</div>
    <div class="bar"></div>
    <div class="bar-num text-secondary">2</div>
    <div class="bar"></div>
    <div class="bar-num text-secondary">3</div>
</div>

<form method="POST" class="form mb-5">
    {% csrf_token %}
    {% load bootstrap4 %}
    <div class="row">
        <div class="col-sm-12">
            <h5>Provide your SSC or equivalant exam information</h5>
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.ssc_year %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.ssc_board %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.ssc_roll %}
        </div>
        <div class="col-sm-6">
            {% bootstrap_field form.ssc_reg %}
        </div>
    </div>
    {% buttons submit='Next' reset="Cancel" %} {% endbuttons %} 
</form>

<div class="text-info">
    <i class="fas fa-info-circle"></i>
    This form will collect your SSC or equivalent information from Educationboard website. If you face any problem your should follow these instruction - 
    <ol>
        <li>Check your information if incorrect</li>
        <li>If Educationboard server doesn't respond, try to <a href="{% url 'admission-form' %}">fill up form manually</a></li>
    </ol>
</div>
<div>Fill-up <a href="{% url 'admission-form-min' %}">minimalist form</a></div>
{% endblock main %}