<nav id="admission-nav">
    <ul class="nav nav-pills flex-column ban">
        <li class="nav-item">
            <a href="#application" class="nav-link active">ভর্তির আবেদন</a>
        </li>
        <li class="nav-item">
            <a href="#course-fee" class="nav-link">কোর্স ফি</a>
        </li>
        <li class="nav-item">
            <a href="#waiber" class="nav-link">কোর্স ওয়েবার</a>
        </li>
        <li class="nav-item">
            <a href="#qualification" class="nav-link">ভর্তির আবেদনের ন্যূনতম যোগ্যতা</a>
        </li>
        <li class="nav-item">
            <a href="#requirements" class="nav-link">ভর্তির জন্য যা প্রয়োজন</a>
        </li>
        <li class="nav-item">
            <a href="#rules" class="nav-link">ছাত্র-ছাত্রীদের পালনীয় নিয়মাবলী</a>
        </li>
        <li class="nav-item">
            <a href="#payment" class="nav-link">ফি পরিশোধের নিয়ম</a>
        </li>
    </ul>
</nav>