{% extends 'accounts/base.html' %}
{% block content %}

<h5 class="font-Bahnschrift text-dark">Profile Information
    <a href="{% url 'change_user_account' %}" class="ml-3 text-info">
        <i class="fas fa-edit"></i>
    </a>
</h5>
<table class="table table-sm text-secondary">
    <tbody>
        <tr>
            <td scope="row">Full Name</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
        <tr>
            <td scope="row">Username</td>
            <td>{{user.username}}</td>
        </tr>
        <tr>
            <td scope="row">Email</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td scope="row">Password</td>
            <td><a href="{% url 'password_change' %}">Change Password</a></td>
        </tr>
    </tbody>
</table>

<div>
    <a href="{% url 'confirm_delete_account' %}" class="text-danger">
        <i class="fas fa-trash-alt"></i>
        Delete account
    </a>
</div>

{% endblock content %}