  <!-- Footer -->
  <footer class="footer py-3 border-top mt-3" id="footer">
    <div class="container-lg">
      <div class="row text-center">
        <div class="col">
          <div class="phone">
            <h6 class="text-info">Phone:</h6>
              <a href="tel:+88017xxxxxxxx">017xxxxxxxx</a><br>
              <a href="tel:+88018xxxxxxxx">018xxxxxxxx</a><br>
              <a href="tel:+88019xxxxxxxx">019xxxxxxxx</a><br>
          </div>
        </div>
        <div class="col">
          <div class="social">
            <h6 class="text-info">Social Media:</h6>
            <a href="mailto:example@yourdomain.com"><i class="fas fa-envelope"></i> example@yourdomain.com</a>
            <br>
            <a href="https://web.facebook.com/your-page"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a>
          </div>
        </div>
      </div>

      <p class="text-secondary text-center mt-3">&copy; All rights reserved by Polytechnic Institute</p>
    </div>
  </footer>
  
</body>
</html>